page-login {
.loading{
  
}
.imagen{
  max-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.titulo{
  font-size:40px;
}

 /* .ion-content{
  background-color: #cc0000 !important;
}
.ion-item{
  background-color: #cc0000 !important;
}
.ion-input{
  background-color: white !important;
}*/
  .logo {
    padding: 10px 0;
    min-height: 200px;
    text-align: center;
    margin-bottom: -30px;
    margin-top: -5px;
    img {
      max-width: 160px;
    }
  }
  .btnregistrar{
  	text-align:center;
  }
/*  .toolbar-background{
	background-color:#1C1D21;
}
.toolbar-title{
	color:#EEEFF7;
}*/
}
