page-login {
  .logo {
    padding: 10px 0;
    min-height: 200px;
    text-align: center;
    margin-bottom: -20px;

    img {
      max-width: 150px;
    }
  }
  .btnregistrar{
  	text-align:center;
  }
/*  .toolbar-background{
	background-color:#1C1D21;
}
/*.toolbar-title{
	color:#EEEFF7;
}*/
/*my-component {
  background: #1C1D21;
}*/
}
