page-infores {
	.servicios{
		bottom:1em;
		right: 2em;
		button{
			background-color:white !important;
		}
	}
	img {
		max-width: 40px;
		border-radius: 50%;
		margin-left: -15px;
	}
	.titulo{

	}
	#servicios{
	color:#00695C;
}
#buttonservicios{
	align:center;
	margin-top:8%;
	margin-left:11%;
}
#imagen{
	margin-right:-10px;
	padding-right:-10px;
	margin-left:0px;
}
#titulo{
	margin-color:#00695C;
}
}
