<ion-header>
	<ion-navbar color="primary">
		<ion-title>Solicitudes pendientes</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="Refresh()">
				<ion-icon name="refresh"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-card padding *ngFor="let pedido of pedidos">
		<ion-item>
			<h1>{{pedido.tiposervicio}}</h1>
		</ion-item>
		<ion-item>
			<h2>Restaurante: <b>{{pedido.nombrerest}}</b></h2>
		</ion-item>
		<button ion-button block color="primary" (click)="goToverPedidos(pedido)">Ver</button>
		<ion-item>
			<button ion-button clear color="white" align="right"  item-right (click)="cancelarPedido(pedido.idpedido)">
			<ion-label color="primary">Cancelar</ion-label>
			</button>
		</ion-item>
	</ion-card>
	<ion-card padding *ngFor="let reservacion of reservaciones">
		<ion-item>
			<h1>Reservación</h1>
		</ion-item>
		<ion-item>
			<h2>Restaurante: <b>{{reservacion.nombrerest}}</b></h2>
		</ion-item>
		<ion-item>
			<h2>A nombre de: <b>{{reservacion.nombre}}</b></h2>
		</ion-item>
		<ion-item>
			<h2>Hora: <b>{{reservacion.horallegada}}</b></h2>
		</ion-item>
		<ion-item>
			<h2>Día: <b>{{reservacion.fecha}}</b></h2>
		</ion-item>
		<ion-item>
			<h2>Personas: <b>{{reservacion.nopersonas}}</b></h2>
		</ion-item>
		<ion-item>
			<h2>Estado: <b>Pendiente</b></h2>
		</ion-item>
		<ion-item>
			<button ion-button clear color="white" align="right"  item-right (click)="cancelarReservacion(reservacion.idreservacion)">
				<ion-label color="primary">Cancelar</ion-label>
			</button>
		</ion-item>
	</ion-card>
</ion-content>