page-opciones {
 .logo {
    padding: 10px 0;
    min-height: 200px;
    text-align: center;
    margin-bottom: -40px;

    img {
      max-width: 150px;
    }
  }
  .btnregistrar{
  	text-align:center;
  }
  .toolbar-background{
	background-color:#1C1D21;
}
.toolbar-title{
	color:#EEEFF7;
}
.ion-content{
  background-color: #1C1D21 !important;
}
}
