<ion-header>
	<ion-navbar color="primary">
		<ion-title>Su orden</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-item>
		<h2>
		<b>Artículo</b>
		</h2>
		<h2 item-right>
			<b>Precio</b>
		</h2>   
	</ion-item>    
	<ion-item-sliding *ngFor="let orden of orden">
		<ion-item *ngFor="let platillo of orden.platillos">
			<h2>
				{{platillo.nombreplatillo}}
			</h2>
			<h2 item-right>
				$ {{platillo.precio}}
			</h2> 
		</ion-item>    
	</ion-item-sliding>
	<ion-item-sliding>
		<ion-item>
			<h2 class="card-title"><b>Total</b></h2>
			<h2 item-right>
				<b>$ {{pedido.montototal}}</b>
			</h2>
		</ion-item>  
	</ion-item-sliding>	
</ion-content>
