<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{inforest.nombrerest}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="Refresh(pedido.idpedido)">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="restaurantes">
    <div *ngFor="let categoria of categorias">
      <ion-item>
       <ion-label color="primary">
        {{ categoria.nomcategoria }}
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let platillo of categoria.platillos" (click)="goToIngredientesPage(platillo,pedido,user,inforest)">
      <ion-avatar item-left>
        <img src="{{platillo.imagen}}">
      </ion-avatar>
      <h2 class="card-title">{{platillo.nombreplatillo}}</h2>
      <p>{{platillo.descripcion}}</p>
      <button ion-button outline item-right icon-left>
        $ {{platillo.precio}}
      </button>
    </ion-item>      
  </div>
</ion-list>
<ion-fab bottom right>
 <button ion-fab (click)="goToOrdenPage(pedido,user,inforest)"><ion-icon name="basket">{{pedido.cantplatillos}}</ion-icon></button>
</ion-fab>
</ion-content>
