<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{inforest.nombrerest}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngFor="let categoria of categorias" class="animate-repeat-category">
  <button color="primary">
      {{ categoria.nomcategoria }}
    </button>
  </div>
    <!--ion-label color="primary" *ngFor="let categoria of categorias">
      {{categoria.nomcategoria}}
    </ion-label>
    <ion-item *ngFor="let platillo of platillos">
      <button ion-item (click)="goToIngredientesPage()">
        <ion-avatar item-left>
          <img src="{{inforest.logo}}">
        </ion-avatar>
        <h3>{{platillo.nombreplatillo}}</h3>
        <p>{{platillo.descripcion}}</p>
      </button>
      <button ion-button clear item-right>$ {{platillo.precio}}</button>
    </ion-item-->
    <ion-fab bottom right>
     <button ion-fab (click)="goToOrdenPage()"><ion-icon name="basket">3</ion-icon></button>
   </ion-fab>
 </ion-content>
